<div class="menu-account">
    @if (true)
    {
        Write("Leonard Breitkopf");
    }
    else
    {
        //TODO: Implement Authorization
    }
    <div class="triangle"></div>
    <ul>
        <li>Login</li>
        <li>Register</li>
    </ul>
</div>
@if (true)
{ //TODO: Implement Authorization
    <div class="menu-account-picture"></div>
}
