<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="oauth" type="AuthQ.SSO.OAuth.Configuration.OAuthSection, AuthQ.SSO, Version=1.0.0.0, Culture=neutral" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <oauth defaultProvider="AuthQProvider" defaultService="AuthQService">
    <providers>
      <add name="AuthQProvider" type="AuthQ.SSO.OAuth.Implementations.AuthQProvider, AuthQ.SSO, Version=1.0.0.0, Culture=neutral" />
    </providers>
    <services>
      <add name="AuthQService" type="AuthQ.SSO.OAuth.Implementations.AuthQService, AuthQ.SSO, Version=1.0.0.0, Culture=neutral" />
    </services>
  </oauth>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <httpModules>
      <add name="OAuthAuthentication" type="AuthQ.SSO.OAuth.Module.OAuthAuthenticationModule, AuthQ.SSO, Version=1.0.0.0, Culture=neutral" />
    </httpModules>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name="401" loginUrl="/Login" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add type="AuthQ.SSO.OAuth.Module.OAuthAuthenticationModule" name="OAuthAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
<connectionStrings><add name="AuthQEntities" connectionString="metadata=res://*/Data.AuthQModel.csdl|res://*/Data.AuthQModel.ssdl|res://*/Data.AuthQModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sln02-web-2k12.solutions-net.nl;initial catalog=uniQ;user id=uniQ_release;Password=SuperSquad2.0;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>