@{
    ViewBag.Title = "AuthiQ Website";
    ViewBag.Menu = "Home";
}

<center>
<h2>We're Sorry, but the AuthiQ website is still being build. We hope to see you soon again!</h2>
<br />
<br />
<p>We're happy to answer any questions on <a href="mailto:admin@authiq.org">this</a> mail address.</p>
</center>

