<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://authiq.org</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>ftp://sln02-web-2k12.solutions-net.nl</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <FtpSitePath>/authiq.org</FtpSitePath>
    <UserName>fean</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)uniQEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Data.uniQModel.csdl|res://*/Data.uniQModel.ssdl|res://*/Data.uniQModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sln02-web-2k12.solutions-net.nl;Initial Catalog=uniQ;User ID=uniQ_release;Password=SuperSquad2.0;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>